<HTML>

<HEAD>
    <TITLE>Eric's World of Waffles</TITLE>
    <LINK REL="stylesheet" TYPE="text/css" HREF="sheet1.css" TITLE="Default">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

</HEAD>

<BODY>
    <div class="row">


        <div class="col-xs-4">
            <a href="{% url 'about' %}">Click to go to about</a>

        </div>
        <div class="col-xs-8">
            <H1 class="active">Waffles!</H1>
            <form action="{% url 'count' %}">
                <textarea cols="40" rows="5" name="fulltext"></textarea>
                <br>
                <input type="submit" value="Count!"></form>
            </form>

        </div>

    </div>
</BODY>

</HTML>