<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Word</th>
                <th scope="col">Frequency</th>
            </tr>
        </thead>
        <tbody>
            {% for i, j in frequencyTab%}
            <tr>
                <th scope="row">{{i}}</th>
                <td>{{j}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- {{fullText}} -->
    <!--    <br> {{frequencyTab}}-->
    <!--    <br> WEll you got the wordCount-->


</body>

</html>